@theme {
  /* Colors */
  --color-navy-black: #0d0c22;
  --color-pure-white: #ffffff;
  --color-dribbble-pink: #ea4c89;
  --color-deep-ink: #060318;
  --color-muted-lavender: #beb9ca;
  --color-mid-purple: #524b63;
  --color-off-white-surface: #faf9fb;
  --color-light-gray: #ecebf0;
  --color-dark-charcoal: #212121;
  --color-medium-purple-gray: #655c7a;

  /* Spacing */
  --spacing-spacing-1: 4px;
  --spacing-spacing-2: 5px;
  --spacing-spacing-3: 6px;
  --spacing-spacing-4: 8px;
  --spacing-spacing-5: 10px;
  --spacing-spacing-6: 12px;
  --spacing-spacing-7: 14px;
  --spacing-spacing-8: 16px;
  --spacing-spacing-9: 18px;
  --spacing-spacing-10: 20px;
  --spacing-spacing-11: 22px;
  --spacing-spacing-12: 24px;
  --spacing-spacing-13: 32px;
  --spacing-spacing-14: 40px;
  --spacing-spacing-15: 44px;
  --spacing-spacing-16: 50px;
  --spacing-spacing-17: 60px;
  --spacing-spacing-18: 72px;

  /* Border Radius */
  --radius-radius-sm: 2px;
  --radius-radius-md: 4px;
  --radius-radius-lg: 6px;
  --radius-radius-xl: 8px;
  --radius-radius-2xl: 10px;
  --radius-radius-card: 12px;
  --radius-radius-section: 16px;
  --radius-radius-large-card: 24px;
  --radius-radius-pill: 50px;
  --radius-radius-full: 10000000px;

  /* Fonts */
  --font-mona-sans: "Mona Sans", sans-serif;
  --font-source-serif-4: "Source Serif 4", sans-serif;
  --font-ibm-plex-mono: "IBM Plex Mono", sans-serif;

}