:root {
  /* Colors */
  --color-navy-black: #0d0c22;
  --color-pure-white: #ffffff;
  --color-dribbble-pink: #ea4c89;
  --color-deep-ink: #060318;
  --color-muted-lavender: #beb9ca;
  --color-mid-purple: #524b63;
  --color-off-white-surface: #faf9fb;
  --color-light-gray: #ecebf0;
  --color-dark-charcoal: #212121;
  --color-medium-purple-gray: #655c7a;

  /* Typography */
  --font-hero-heading-family: Mona Sans;
  --font-hero-heading-size: 52px;
  --font-hero-heading-weight: 600;
  --font-hero-heading-line-height: 62.4px;
  --font-body-regular-family: Mona Sans;
  --font-body-regular-size: 14px;
  --font-body-regular-weight: 400;
  --font-body-regular-line-height: 28px;
  --font-label-semibold-family: Mona Sans;
  --font-label-semibold-size: 13px;
  --font-label-semibold-weight: 600;
  --font-label-semibold-line-height: 13px;
  --font-label-medium-family: Mona Sans;
  --font-label-medium-size: 12px;
  --font-label-medium-weight: 500;
  --font-label-medium-line-height: 12px;
  --font-body-large-family: Mona Sans;
  --font-body-large-size: 16px;
  --font-body-large-weight: 400;
  --font-body-large-line-height: 28px;
  --font-body-medium-family: Mona Sans;
  --font-body-medium-size: 14px;
  --font-body-medium-weight: 500;
  --font-body-medium-line-height: 17px;
  --font-micro-bold-family: Mona Sans;
  --font-micro-bold-size: 9px;
  --font-micro-bold-weight: 800;
  --font-micro-bold-line-height: 20px;
  --font-body-semibold-family: Mona Sans;
  --font-body-semibold-size: 14px;
  --font-body-semibold-weight: 600;
  --font-body-semibold-line-height: 17px;

  /* Spacing */
  --spacing-spacing-1: 4px;
  --spacing-spacing-2: 5px;
  --spacing-spacing-3: 6px;
  --spacing-spacing-4: 8px;
  --spacing-spacing-5: 10px;
  --spacing-spacing-6: 12px;
  --spacing-spacing-7: 14px;
  --spacing-spacing-8: 16px;
  --spacing-spacing-9: 18px;
  --spacing-spacing-10: 20px;
  --spacing-spacing-11: 22px;
  --spacing-spacing-12: 24px;
  --spacing-spacing-13: 32px;
  --spacing-spacing-14: 40px;
  --spacing-spacing-15: 44px;
  --spacing-spacing-16: 50px;
  --spacing-spacing-17: 60px;
  --spacing-spacing-18: 72px;

  /* Border Radius */
  --radius-radius-sm: 2px;
  --radius-radius-md: 4px;
  --radius-radius-lg: 6px;
  --radius-radius-xl: 8px;
  --radius-radius-2xl: 10px;
  --radius-radius-card: 12px;
  --radius-radius-section: 16px;
  --radius-radius-large-card: 24px;
  --radius-radius-pill: 50px;
  --radius-radius-full: 10000000px;

}